<p>Hey <%= @resource.nickname %>!</p>

<p>Please use the link below to reset your Shelby.tv password:</p>

<p><%= link_to 'Change my Shelby password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>--</p>

<p>If you didn't request this, simply ignore this email.  Your password won't change until you access the link above and create a new one.</p>

<p>
	Cheers,<br/>
	Shelby
</p>