[submodule "cpp/lib/mongo-c-driver"]
	path = cpp/lib/mongo-c-driver
	url = https://github.com/mongodb/mongo-c-driver-legacy.git
	ignore = dirty
[submodule "cpp/lib/mrjson/yajl"]
	path = cpp/lib/mrjson/yajl
	url = https://github.com/couchbaselabs/yajl
	ignore = dirty
