<div class="shelf shelf--menu">
  <div class="shelf__lining">
    <ul id="admin-choices" class="list list--inline">
      <li class="list__item">
        <a href="/admin/active_users"><span>active users</span></a>
      </li>
      <li class="list__item">
        <a href="/admin/new_users"><span>new users</span></a>
      </li>
      <li class="list__item">
        <a href="/admin/invited_users"><span>invited users</span></a>
      </li>
    </ul><!-- eo list -->

    <form id="js-email-form" class="user-search-form" action="/admin/user/" method="get">
      <input name="search" type="text" id="js-user-input" class="user-form-input" placeholder="find someone" /><!--
      --><input type="submit" value="find user" id="js-user-search-submit" class="user-form-submit" />
    </form>

  </div><!-- eo shelf__lining-->
</div><!-- eo shelf -->
