<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
</head>
<body style="-webkit-text-size-adjust: none;margin: 0;padding: 0;background-color: #f4f4f4;width: 100%;">

        <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="margin: 0;padding: 0;background-color: #f4f4f4;height: 100%;width: 100%;font-family: 'Helvetica Neue',Helvetica,sans-serif; color: #555555">
    <tbody>
      <tr height="0" valign="top">
        <td>
          <center>
            <!-- main -->
            <table border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <!-- summary text -->
<tr>
  <td>

    <table border="0" cellpadding="0" cellspacing="0" height="1" width="100%">
      <tbody>
        <tr height="5">
          <td>
            <span style="font: 0/0 a;color: transparent;line-height:1;">
              &nbsp;
            </span>
          </td>
          <td style="width: 600px;">
            <p style="font: 0/0 a;color: transparent;line-height:1;">
              Your invite to Shelby.tv is ready!
            </p>
          </td>
          <td>
            <span style="font: 0/0 a;color: transparent;line-height:1;">
              &nbsp;
            </span>
          </td>
        </tr>
      </tbody>
    </table>

  </td>
</tr>
<!-- eo summary text -->

                <!-- header -->
                <tr height="70">
                  <td>

                    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
                      <tbody>
                        <tr>
                          <td>&nbsp;</td>
                          <td style="width: 600px;">
                            <a href="http://shelby.tv">
                            <img src="http://media.sailthru.com/zk/1jx/6/i/51c066e39c1af.png" width="118" border="0" height="34" alt="shelby_logo_ui_kit"/></a>
                          </td>
                          <td>&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>

                  </td>
                </tr>
                <!-- eo header -->

                <tr>
                  <td>
                    <table border="0" cellpadding="0" cellspacing="0" height="300" width="100%">
                      <tbody><tr valign="top">
                        <td>&nbsp;</td>
                        <td style="width: 600px; background-color: #ffffff; border: 1px solid #adadad; font-weight: normal; paddding: 40px">
                        <!-- BODY -->

                          <table cellpadding="40" border="0">
                            <tr>
                              <td>
                              <h1 style="margin-top:0;">Greetings Friends</h1>

                              <p>
                                We’ve been listening to what you’ve been saying. You want to see the most relevant videos in your world, the videos that matter most to you, in one place.
                              </p>

                              <p>
                                Today we’re rolling out a new version of Shelby — reimagined especially for you.
                              </p>

                              <h2>
                                Here’s what’s new:
                              </h2>

                              <h3>
                                Shelby is simpler
                              </h3>

                              <p>
                                We’ve simplified Shelby so that it features a <b>single stream</b> of video, tailored to your interests, influenced by your friends. We hope this will make your video experience easier than ever before.
                              </p>

                              <h3>
                                Shelby is smarter
                              </h3>

                              <p>
                                Each video you watch, like, and share will sharpen our ability to deliver the videos that you want to see, when you want to see them. Your Shelby stream will get better every time you use it.
                              </p>

                              <p>
                                Enough talk. Do us a favor — be the first to try it out, and let us know what you think.
                              </p>

                              <p>
                                Yours, <br/>
                                Team Shelby
                              </p>

                              <br>
                                  <!-- button -->
                                  <table cellpadding="10" cellspacing="0" style="border-radius: 5px;border-color: #63ae3d;border-width: 1px;border-style: solid;background-color: #63ae3d;width: 75%;margin: 0 auto;">
                                    <tr>
                                      <td align="center" valign="center" style="border-radius: 5px;border-width: 1px; border-style: solid; border-color: #C9F1B4 #63ae3d #63ae3d #63ae3d; height: 38px;">
                                        <a href="http://shelby.tv" style="display: block;font-size: 16px;font-weight: bold;font-family: sans-serif;text-decoration: none;">
                                          <font color="#fff">
                                            Check out the changes on Shelby.tv
                                          </font>
                                        </a>
                                      </td>
                                    </tr>
                                  </table>
                                  <!-- /button -->
                              </td>
                            </tr>
                          </table>




                        <!-- END BODY -->
                        </td>
                        <td>&nbsp;</td>
                      </tr>
                    </tbody></table>
                  </td>
                </tr>

                <!-- footer -->
                <tr height="50">
                  <td>

                    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
                      <tbody>
                        <tr>
                          <td>&nbsp;</td>
                          <td style="width: 600px;text-align: right; color: #555555">
                            <p style="margin: 0;padding:0;line-height: 1.5;font-size: 10px;"><a href="http://shelby.tv/preferences/notifications" style="color: #555555">Email Settings</a></p>
                            <p style="margin: 0;padding:0;line-height: 1.5;font-size: 10px;">110 E 23rd, 10th Floor, New York NY 10010</p>
                          </td>
                          <td>&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>

                  </td>
                </tr>
                <!-- eo footer -->

                <!-- DO NOT DELETE -->
                <tr>
                    <td>
                        <center>
                            <small><a href="{optout_confirm_url}">unsubscribe</a></small>
                        </center>
                    </td>
                </tr>
                <!-- END DO NOT DELETE -->
              </tbody>
            </table>
            <!-- eo main -->
          </center>
        </td>
      </tr>
    </tbody>
  </table>

    <!-- DO NOT DELETE -->

        {beacon}

    <!-- END DO NOT DELETE -->
</body>
</html>