<div class="shelf shelf--password_reset">
  <div class="shelf__lining">
    <h1 class="shelf__h1">
      Success!
    </h1>

    <p class="shelf__block">
      An email has been sent to you with instructions on how to reset your password. If you do not receive an email shortly, try again or <a href="mailto:support@shelby.tv">email support</a>.
    </p>
  </div><!-- eo shelf__lining -->
</div><!-- eo shelf -->