/* line 1, ../../app/assets/stylesheets/admin.scss */
#admin {
  overflow: auto;
}
/* line 3, ../../app/assets/stylesheets/admin.scss */
#admin h1 {
  font-size: 35px;
  text-align: center;
  padding: 15px;
}
/* line 9, ../../app/assets/stylesheets/admin.scss */
#admin hr {
  color: #333;
  background-color: #333;
  height: 3px;
  border: 0;
  margin-bottom: 35px;
}
/* line 17, ../../app/assets/stylesheets/admin.scss */
#admin .text-block {
  margin: 5px;
}
/* line 21, ../../app/assets/stylesheets/admin.scss */
#admin #user-info-area {
  color: #505050;
  font-family: 'Ubuntu',Trebuchet MS,sans-serif;
  font-size: 14px;
  text-align: center;
}
/* line 26, ../../app/assets/stylesheets/admin.scss */
#admin #user-info-area #shelby-user {
  margin-bottom: 10px;
}
/* line 28, ../../app/assets/stylesheets/admin.scss */
#admin #user-info-area #shelby-user .shelby-avatar {
  background: transparent;
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-right: 10px;
  overflow: hidden;
  vertical-align: middle;
}
/* line 37, ../../app/assets/stylesheets/admin.scss */
#admin #user-info-area #shelby-user .shelby-avatar img {
  height: 50px;
  text-decoration: none;
  display: inline;
}
/* line 43, ../../app/assets/stylesheets/admin.scss */
#admin #user-info-area #shelby-user #shelby-name {
  font-size: 30px;
  color: #777;
  font-weight: normal;
}
/* line 53, ../../app/assets/stylesheets/admin.scss */
#admin #user-info-area #social-medias {
  text-decoration: none;
}
/* line 55, ../../app/assets/stylesheets/admin.scss */
#admin #user-info-area #social-medias img {
  height: 18px;
  outline: none;
  text-decoration: none;
  display: inline;
}
/* line 64, ../../app/assets/stylesheets/admin.scss */
#admin #roll-info-area {
  font-size: 16px;
  line-height: 150%;
  position: absolute;
  left: 50%;
  margin-left: -330px;
}
/* line 71, ../../app/assets/stylesheets/admin.scss */
#admin #roll-info-area .roll-list {
  margin-right: 25px;
}
/* line 75, ../../app/assets/stylesheets/admin.scss */
#admin #roll-info-area #friends-rolls {
  float: left;
}
/* line 79, ../../app/assets/stylesheets/admin.scss */
#admin #roll-info-area #user-created-public-rolls {
  float: left;
}
/* line 83, ../../app/assets/stylesheets/admin.scss */
#admin #roll-info-area #user-created-private-rolls {
  float: left;
}

/* line 90, ../../app/assets/stylesheets/admin.scss */
#time-choices {
  text-align: center;
  font-size: 16px;
}

/* line 94, ../../app/assets/stylesheets/admin.scss */
#admin-choices {
  position: fixed;
  right: 224px;
  top: 19px;
  font-size: 20px;
}

/* line 100, ../../app/assets/stylesheets/admin.scss */
#users {
  width: 620px;
  margin: 0 auto;
}

/* line 107, ../../app/assets/stylesheets/admin.scss */
.ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
}

/* line 108, ../../app/assets/stylesheets/admin.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 109, ../../app/assets/stylesheets/admin.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 110, ../../app/assets/stylesheets/admin.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 111, ../../app/assets/stylesheets/admin.scss */
.invisible {
  visibility: hidden;
}

/* line 112, ../../app/assets/stylesheets/admin.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 113, ../../app/assets/stylesheets/admin.scss */
.clearfix:after {
  clear: both;
}

/* line 114, ../../app/assets/stylesheets/admin.scss */
.clearfix {
  *zoom: 1;
}

/* line 116, ../../app/assets/stylesheets/admin.scss */
.error {
  background: #fdd;
  border: 1px solid red !important;
}

/* line 126, ../../app/assets/stylesheets/admin.scss */
.form {
  display: block;
  margin: 0;
  padding: 0;
}

/* line 135, ../../app/assets/stylesheets/admin.scss */
.list {
  margin: 0;
  padding: 0;
}
/* line 139, ../../app/assets/stylesheets/admin.scss */
.list > li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 146, ../../app/assets/stylesheets/admin.scss */
.list a {
  display: inline-block;
}

/* line 152, ../../app/assets/stylesheets/admin.scss */
.list--stacked > li {
  display: block;
}

/* line 161, ../../app/assets/stylesheets/admin.scss */
body {
  font-family: Arial, sans-serif;
  font-size: 75%;
}

/* line 165, ../../app/assets/stylesheets/admin.scss */
a {
  color: #47274e;
}
/* line 169, ../../app/assets/stylesheets/admin.scss */
a:visited, a:link {
  color: #663870;
  text-decoration: none;
}
/* line 175, ../../app/assets/stylesheets/admin.scss */
a:active, a:hover {
  text-decoration: underline;
}

/* line 182, ../../app/assets/stylesheets/admin.scss */
.user {
  background-color: #bf92c9;
  border-top: 1px solid #47274e;
  font-size: 1.1em;
  opacity: .9999;
  /* CRAZY */
  padding: 1em;
  margin: 1em;
}
/* line 190, ../../app/assets/stylesheets/admin.scss */
.user .user__image {
  float: left;
  margin-right: 1em;
}
/* line 195, ../../app/assets/stylesheets/admin.scss */
.user .user__body {
  overflow: hidden;
}
/* line 199, ../../app/assets/stylesheets/admin.scss */
.user .user__contact {
  float: right;
  font-size: .9em;
  line-height: 2;
}
/* line 204, ../../app/assets/stylesheets/admin.scss */
.user .user__contact a {
  display: inline-block;
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 213, ../../app/assets/stylesheets/admin.scss */
.user .user__h1 {
  display: block;
  font-size: 1.4em;
  max-width: 63%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 221, ../../app/assets/stylesheets/admin.scss */
.user .user__h1 span {
  color: #9452a3;
}
/* line 227, ../../app/assets/stylesheets/admin.scss */
.user .user__username {
  color: #47274e;
}
/* line 231, ../../app/assets/stylesheets/admin.scss */
.user .user__info {
  margin: .25em 0 .5em;
}
/* line 235, ../../app/assets/stylesheets/admin.scss */
.user .user__stats {
  color: #663870;
  margin-top: 1.5em;
}
/* line 239, ../../app/assets/stylesheets/admin.scss */
.user .user__stats li:not(:last-child) {
  border-right: 1px solid #47274e;
  margin-right: .75em;
  padding-right: .5em;
}
/* line 246, ../../app/assets/stylesheets/admin.scss */
.user .list--social-links {
  margin: 0;
  text-align: right;
}
/* line 250, ../../app/assets/stylesheets/admin.scss */
.user .list--social-links a {
  width: 16px;
  height: 16px;
}
/* line 255, ../../app/assets/stylesheets/admin.scss */
.user .list--social-links img {
  display: inline-block;
  width: 100%;
}
/* line 266, ../../app/assets/stylesheets/admin.scss */
.user .form--follow input[type="submit"] {
  background-color: #854992;
  border: 1px solid #47274e;
  border-radius: 3px;
  color: #efefef;
  padding: .5em 0;
  width: 100%;
}
/* line 274, ../../app/assets/stylesheets/admin.scss */
.user .form--follow input[type="submit"]:hover {
  background-color: #a15faf;
}
/* line 278, ../../app/assets/stylesheets/admin.scss */
.user .form--follow input[type="submit"]:active {
  background-color: #47274e;
}
