/* line 1, ../../app/assets/stylesheets/password_reset.scss */
.password-reset-wrapper {
  width: 625px;
  margin: 100px auto 0;
  padding-bottom: 100px;
}
/* line 6, ../../app/assets/stylesheets/password_reset.scss */
.password-reset-wrapper h1 {
  font-size: 4em;
  text-shadow: black 2px 2px 0px;
}
/* line 11, ../../app/assets/stylesheets/password_reset.scss */
.password-reset-wrapper h2 {
  margin: 10px 0;
}
/* line 15, ../../app/assets/stylesheets/password_reset.scss */
.password-reset-wrapper .error {
  color: red;
}
/* line 19, ../../app/assets/stylesheets/password_reset.scss */
.password-reset-wrapper form {
  background: #57375e;
  font-size: 15px;
  margin-top: 20px;
  padding: 10px;
}
/* line 25, ../../app/assets/stylesheets/password_reset.scss */
.password-reset-wrapper form div {
  margin-top: 10px;
}
/* line 29, ../../app/assets/stylesheets/password_reset.scss */
.password-reset-wrapper form input[type=submit] {
  font-size: 20px;
  margin-top: 10px;
}
