-# Jammit (http://documentcloud.github.com/jammit/) used to package our assets -- see /config/assets.yml
= include_javascripts :basic

= render :partial => 'layouts/google_analytics' if "production" == ::Rails.env
		
= yield :javascript
