//------------------------------------------------------------------------------
//  UI KIT
//------------------------------------------------------------------------------
  $ui-white      : rgba(#ffffff,1); //Pane White
  $ui-off-white  : rgba(#f4f4f4,1); //Shelby White

  $ui-black      : rgba(#333333,1); //Typography
  $ui-soft-black : rgba(#555555,1); //Button Typography
  $ui-gray       : rgba(#f1f1f1,1); //Pane Grey

  $ui-green      : rgba(#6fbe47,1); //Shelby Green
  $ui-red        : rgba(#ee4c4c,1); //Shelby Red
  $ui-blue       : rgba(#0590c4,1); //Shelby Blue

  $facebook-blue : rgba(#013e80,1); //Facebook Blue
  $twitter-blue  : rgba(#2CAAE1,1); //Twitter Blue
  $tumblr-blue   : rgba(#2f445b,1); //Tumblr Blue


  $ui-button-text: $ui-black;
  $ui-button-text-inverted: $ui-white;


.shelf--password_reset {
  .shelf__h1 {
    margin-bottom: 0;
  }
}

.shelf--merge_accounts {
  //straight-up hacky
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
  }

  //normative
  .shelf__lining {
    padding: 2em 3em;
  }
  .shelf__h3 {
    margin-bottom: 2em;
  }
  .shelf__block--warning {
    color: $ui-red;
  }

  //non-normative
  .form_module {
    margin-bottom:1em;
  }
  .user {
    margin-bottom: 1.5em;
  }
  .user__h1 {
    line-height: 1.3;
  }
  .user__h2 {
    font-weight: normal;
  }

  .external-services {
    border: 1px solid #ddd;
    margin: 1em 0 3em;
    padding: 0 1.3em 0.5em;
  }
}

@media screen and (max-width: 944px) {
  .shelby--mobile {
    .shelf--error {
      padding: 0 1em;
    }
    .shelf--header {
      .shelf__lining {
        padding-left: 0;
        padding-right: 0;
      }
    }
    //API
    #new_user,
    #new_user .button_primer,
    #do-merge {
      width: 100%;
    }

    #cancel-merge {
      display: block;
      margin: 1em 0;
      text-align: center;
    }
  }
}