<!-- summary text -->
<tr>
  <td>

    <table border="0" cellpadding="0" cellspacing="0" height="1" width="100%">
      <tbody>
        <tr height="5">
          <td>
            <span style="font: 0/0 a;color: transparent;line-height:1;">
              &nbsp;
            </span>
          </td>
          <td style="width: <%= Settings::Email.main_column %>;">
            <p style="font: 0/0 a;color: transparent;line-height:1;">
              <%= text %>
            </p>
          </td>
          <td>
            <span style="font: 0/0 a;color: transparent;line-height:1;">
              &nbsp;
            </span>
          </td>
        </tr>
      </tbody>
    </table>

  </td>
</tr>
<!-- eo summary text -->
