<% standard_html_email_wrapper do %>
<p>hey there</p>

<p>thanks for your interest in Shelby.tv</p>

<p>really excited to have you, but still have a little ways to go before letting you in</p>

<p>keep an eye on your inbox for an invite!</p>

<p>
best<br/>
reece
</p>

<p style="color:#999999">
::: @reece, cofounder/ceo Shelby.tv<br />
::: get entertained at <a href="http://reece.shelby.tv">reece.shelby.tv</a>
</p>
<% end %>